<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_akademik_root" name="Akademik" sequence="10"/>

    <menuitem id="menu_akademik_mahasiswa"
              name="Mahasiswa"
              parent="menu_akademik_root"
              sequence="10"/>

    <menuitem id="menu_akademik_mahasiswa_s1"
              name="Mahasiswa S1"
              parent="menu_akademik_mahasiswa"
              action="action_mahasiswa_s1_list"
              sequence="10"/>

    <menuitem id="menu_akademik_mahasiswa_pasca"
              name="Mahasiswa Pascasarjana"
              parent="menu_akademik_mahasiswa"
              action="action_mahasiswa_pasca_list"
              sequence="20"/>

    <menuitem id="menu_akademik_config"
              name="Konfigurasi"
              parent="menu_akademik_root"
              sequence="100"/>

    <menuitem id="menu_akademik_tahun"
              name="Tahun Masuk"
              parent="menu_akademik_config"
              action="action_akademik_tahun"
              sequence="10"/>

    <menuitem id="menu_akademik_prodi"
              name="Program Studi"
              parent="menu_akademik_config"
              action="action_akademik_prodi"
              sequence="20"/>
</odoo>
