<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_akademik_root" name="Academic" sequence="10"/>

    <menuitem id="menu_akademik_mahasiswa"
              name="Student"
              parent="menu_akademik_root"
              sequence="10"/>

    <menuitem id="menu_akademik_mahasiswa_s1"
              name="Student S1"
              parent="menu_akademik_mahasiswa"
              action="action_mahasiswa_s1_list"
              sequence="10"/>

    <menuitem id="menu_akademik_mahasiswa_pasca"
              name="Postgraduate Student"
              parent="menu_akademik_mahasiswa"
              action="action_mahasiswa_pasca_list"
              sequence="20"/>

    <menuitem id="menu_akademik_krs"
              name="KRS"
              parent="menu_akademik_root"
              action="action_akademik_krs"
              sequence="10"/>

    <menuitem id="menu_akademik_config"
              name="Configuration"
              parent="menu_akademik_root"
              sequence="100"/>

    <menuitem id="menu_akademik_tahun"
              name="Entry Year"
              parent="menu_akademik_config"
              action="action_akademik_tahun"
              sequence="10"/>

    <menuitem id="menu_akademik_prodi"
              name="Study Program"
              parent="menu_akademik_config"
              action="action_akademik_prodi"
              sequence="20"/>
    
    <menuitem id="menu_akademik_subject"
              name="Subjects"
              parent="menu_akademik_config"
              action="action_akademik_subject"
              sequence="30"/>
    
    <menuitem id="menu_akademik_krs_package"
              name="KRS Packages"
              parent="menu_akademik_config"
              action="action_akademik_krs_package"
              sequence="40"/>
    
    <menuitem id="menu_akademik_krs_wizard"
              name="Generate KRS"
              parent="menu_akademik_root"
              action="action_akademik_krs_wizard"
              sequence="20"/>
              
</odoo>
